/**********************************************************************/
/*  PROYECTO FIGURAS              */
/*  EQUIPO HUNGRIA                 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* outline: 1px solid red; */
}

:root {
  --color-fondo: hsl(69, 42%, 94%);
  --color-primario: hsl(0, 0%, 0%);
  --color-sobre-primario: hsl(2, 100%, 100%);
  --color-secundario: hsl(2, 50%, 102%);
  --color-sobre-secundario: hsl(2, 0%, 0%);
  --color-caja-final: rgb(214, 14, 14);

  --fuente-primaria: sans-serif;
  --fuente-secuendaria: sans-serif;

  /* Color y tamaño de las figuras */
  --color-figuras: hsl(120, 42%, 42%);
  --longitud-muestra: 5em;
}

/**********************************************************************/

.area {
  height: 100vh;
  background-color: var(--color-fondo);
  font-family: var(--fuente-primaria);
}

/**********************************************************************/
.cabecera {
  padding: 1.5rem;
  background-color: var(--color-primario);
}

.titulo-proyecto {
  color: var(--color-sobre-primario);
  text-align: center;
}

.equipo {
  text-transform: uppercase;
}

/**********************************************************************/

.panel {

  width: clamp(300px, 800px, 60%);
  margin: 1.5rem auto;
  border: 1px solid black;
}

/**********************************************************************/
t
.panel__patron {
  /* El estilo del borde cambiará dinámicamente con JS 
     para ilustrar cuando una figura entra en el panel del patrón  */
  border: 1px solid var(--color-primario);
   
  margin:auto;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  
}

.panel__patronFinal {
  /* El estilo del borde cambiará dinámicamente con JS 
     para ilustrar cuando una figura entra en el panel del patrón  */
  border: 3px dashed var(--color-caja-final);

     /* ======= COMPLETAR REGLA ====== */
     /* El panel del patrón se muestra centrado dentro del panel */
     /* Su dimensión admite albergar la figura patrón de forma holgada */

     width: 10em;
     height: 10em;
     display:block;
     margin:auto;
     margin-top: 1em;
     padding-left: 2em;
     padding-right: 2em;
     padding-top: 3em;
     padding-bottom: 3em;
}

/**********************************************************************/

.panel__alternativas {
  /* Las figuras se enmarcan para identificarlas como un grupo */
  /*border: 1px solid var(--color-primario);

  /* ======= COMPLETAR REGLA ====== */
  /* Las figuras del panel se muestran centradas */
  padding-bottom: 15%;
  padding-top: 5%;
  margin-bottom: 5%;
  margin-top: 2.5%;
  text-align: center;
}

/**********************************************************************/

.figura {
  
  /* ======= COMPLETAR REGLA ====== */
  
  max-width: 5px;
  max-height: 5px;
  
  
  
  /* Las figuras se enmarcan en cuadrados separados equidistantemente */
  
  /* ACLARACIONES:
       - Las figuras son definidas en HTML mediante elementos span
       - La dimensión se define en base a --logitud-muestra  */
  margin: 2%;
  size: var(--longitud-muestra);
}

.panel__patron .figura {
  /* La figura del patrón se muestra ligeramente transparente 
     para destacarla respecto de las del panel de alternativas */
  opacity: 50%;
  display:block;
  margin:auto;
  
}

/**********************************************************************/

/* Estilos para ilustrar la operación de arrastrar y soltar  */

.figura--sobrevolando {
  /* ======= COMPLETAR REGLA ====== */
  border: 2px dashed black; 
}

.figura--arrastrando {
  /* ======= COMPLETAR REGLA ====== */
  opacity: 75%;
}

/**********************************************************************/
/* Formas que pueden adoptar las figuras         */

.circulo {

  border-radius: 50%;
  background-color: var(--color-figuras);
  --mitad: calc(var(--longitud-muestra) / 2);
  
  border-left: var(--mitad) solid transparent;
  border-right: var(--mitad) solid transparent;
  border-bottom: var(--longitud-muestra) solid var(--color-figuras);
}

.triangulo {

 
  
  --mitad: calc(var(--longitud-muestra) / 2);

  border-left: var(--mitad) solid transparent;
  border-right: var(--mitad) solid transparent;
  border-bottom: var(--longitud-muestra) solid var(--color-figuras);
}

.hoja {

  
  background-color: var(--color-figuras);
  border-radius: 0% 75%;
  --mitad: calc(var(--longitud-muestra) / 2);
 
  border-left: var(--mitad) solid transparent;
  border-right: var(--mitad) solid transparent;
  border-bottom: var(--longitud-muestra) solid var(--color-figuras);
}
